<div class="list">
  <h2>Wishlist</h2>
  <% # if @wantlist.length > 0 %>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Actions</th>
        </tr>
      </thead>

      <tbody>
        <% for item in @wantlist.items %>
          <tr>
            <td><%= item.title %></td>
            <td><%= item.description %></td>
            <td>
            <% if current_user?(@user) %>
              <%= link_to 'Edit item', item_path(item.id) %>
              <%= link_to 'Delete item', item_path(item.id), method: :delete, data: { confirm: 'Are you sure?' } %>
            <% elsif current_user %>
              CLAIM TODO
            <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% #else %>
    <% if current_user?(@user) %>
      <p>There's nothing here! Try <% link_to 'adding an item', new_item_path %>!</p>
    <% else %>
      <p>There's nothing here! Come back later.</p>
    <% end %>
  <% #end %>

  <%= link_to 'Add item', new_item_path(wantlist_id: @user.wantlist_id) %>
</div>
